.general {
  width: 700px;
}

#div2 {
  background-color: aqua;
  clear: both;
  float: none;
  width: 50px;
  height: 30px;
}

#div3 {
  background-color: orange;
  float: left;
  width: 500px;
}

#div1 {
  background-color: pink;
  float: right;
  width: 150px;
  height: 100px;
}
