.general {
  display: flex;
  justify-content: space-between;
}
#div2 {
  background-color: aqua;
  width: 150px;
  height: 100px;
}

#div1 {
  background-color: pink;
  width: 150px;
  height: 100px;
}
