* {
  box-sizing: border-box;
}

.img-container {
  width: 33.33%;
  padding: 5px;
  text-align: center;
}
.general {
  display: flex;
  justify-content: flex-start;
}

.footer {
  background-color: grey;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
